# 1. Base Libraries for Streamlit and Environment
streamlit
python-dotenv

# 2. Core LLM/RAG Frameworks
langchain

langchain-openai
litellm

# 3. Vector Store
chromadb>=0.3
faiss-cpu

# 4. Other Utilities
pandas
pythainlp

# 5. OpenAI API (เวอร์ชัน 1.x)
openai>=1.0.0
