# Base Libraries for Streamlit and Environment
streamlit
python-dotenv

# Core LLM/RAG Frameworks
langchain>=0.2.10
langchain-openai>=0.2.0
langchain-community 
litellm

# Vector Store
chromadb>=0.3
faiss-cpu

# Other Utilities
pandas
pythainlp

# OpenAI API (version 1.x)
openai>=1.0.0
